/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --discord-header-bg: rgba(49, 97, 224, 1);
    --discord-lighter: rgba(255, 255, 255, 1);
    --discord-light: rgba(246, 246, 246, 1);
    --discord-darker: rgba(35, 39, 42, 1);
    --discord-footer-text: rgba(113, 136, 217, 1);
    --discord-footer-btn: rgba(142, 161, 225, 1);
}

a {
    text-decoration: none;
    color: var(--discord-lighter);
}

button {
    border-radius: 1.5rem;
    padding: 0.3rem 0.7rem;
    border: none;
    margin: 1rem;
}

p {
    padding: 1rem 0;
}

ul {
    list-style: none;
}

/* #endregion common */

/* #region utilities */

.flex-container {
    display: flex;
}

.container {
    margin: auto;
    width: 70%;
}

.container_small {
    margin: auto;
    width: 40%;
}

.pad-tb {
    padding: 5rem 0;
}

/* #endregion utilities */

/* #region header */

header {
    background-color: var(--discord-header-bg);
}

.logo {
    align-self: center;
    flex-grow: 1;
}

nav {
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
}

.login {
    justify-content: flex-end;
    flex-grow: 1;
}

/* #endregion header */

/* #region main */
    /* #region main_header */
#main_header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 550px;
    text-align: center;
    justify-content: center;
}

.mh_text {
    color: var(--discord-lighter);
}

#mh_open {
    color: var(--discord-lighter);
    background-color: var(--discord-darker);
}
    /* #endregion main_header */
    /* #region main_body */
.middle {
    background-color: var(--discord-light);
}

.main_img{
    height: 400px;
}

.main_text {
    width: 40%;
    padding: 2rem;
}

.svg_color_path_white {
    fill: var(--discord-lighter);
}

.svg_color_path_gray {
    fill: var(--discord-light);
}

.divider {
    height: 50px;
}
    /* #endregion main_body */
    /* #region main_footer */
#main_footer {
    background-color: var(--discord-light);
    text-align: center;
}

.main_footer{
    text-align: center;
}

.stars {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 1rem;
}

#main_footer_btn {
    color: var(--discord-lighter);
    background-color: var(--discord-footer-btn);
}
    /* #endregion main_footer */
/* #endregion main */

/* #region footer */
footer {
    background-color: var(--discord-darker);
}
    /* #region footer_top */
.footer_top{
    border-bottom: 2px solid;
    border-bottom-color: var(--discord-footer-text);
}

.footer_text {
    width: 30%;
    text-align: center;
    flex-grow: 2;
}

.nation_flag {
    height: 1rem;
}

.footer_title {
    color: var(--discord-footer-text);
    padding-bottom: 1rem;
}

.language {
    color: var(--discord-lighter);
}

.footer_nav_list {
    padding: 0 2rem;
    flex-grow: 1;
}
    /* #endregion footer_top */
    /* #region footer_bottom */
.footer_bottom {
    justify-content: space-between;
}

.footer_logo {
   padding-top: 1rem;
}

#footer_btn {
    background-color: var(--discord-footer-btn);
    margin: 1rem 0;
}
    /* #endregion footer_bottom */

/* #endregion footer */